ul{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    list-style-type: none;
    overflow: hidden;
    margin-block-start: 1px;
    margin-block-end: 1px;
    padding-inline-start: 1px;
    position: sticky;
    top: 0;
}
li{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
}
li:hover{
    background-color: white;
    
}
body{
    color: #5C090E;
    background-color: #CAFFD0;
}

.case-study, .about-me, .first{
    display: none;
}
.start-page, .information, .second-section{
    display: flex;
    justify-content: space-around;
}
.image{
    display: flex;
    justify-content: center;
}
.projects{
    display: flex;
    justify-content: flex-start;
}
.projects p, .projects img, .projects video{
    padding-right: 5%;
    padding-left: 5%;
}
.projects img, .projects video{
    width: 20%;
    height: 20%;
}
img{
    width: 15%;
}
html{
    margin:2%;
    margin-top: 0%;
    font-family: "Kosugi Maru", sans-serif;
}
.open, .center-image{
    display: flex;
    justify-content: center; 
}
#startButton{
    margin-top: 18%;
}
.not-avaliable{
    filter: grayscale(1.0);
    height: 50%;
    width: 50%;
}
#errorMsg, .second-section button{
    display: none;
}
.text{
    margin-right: 10%;
}
h2{
    font-size: 20px;
}
video{
    width: 50%;
    height: 50%;
}
.last-hide{
    padding-left: 2%;
    display: none;
}
.input-part{
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}
.videos{
    display: none;
}
#project-one-text, #project-two-text, #project-three-text, #project-four-text{
    display: none;
}
#SQL-run{
    display: block;
}
#color-given{
    background-color: initial;
    border: none;
    width: 12%;
}
.navegation{
    display: none;
    background-color: #C9FFF4;
    padding: 0%;
    margin: 0%;
    border: 2px solid;

}
a, button, input{
    text-decoration: none;
    color: #5C090E;
    font-family: "Kosugi Maru", sans-serif;
}
    /* background-color: #1E212B;  black*/
            /* background-color: #4F66C6;  blue*/
            /* background-color:#E70E02; red */