ul{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
li{
    margin: 5px;
    padding-right: 5px;
}
body{
    color: #5C090E;
    /* background-color: #1E212B; */
    /* background-color: #4F66C6; */
    background-color: #CAFFD0;
    animation-name: startChange;
    animation-duration: 8s;
}
    /* 100%{background-color:#E70E02;} */
    /* 100%{background-color: #CAFFD0;} */

/* .case-study, .about-me, .first{
    display: none;
} */
.start-page, .information, .second-section{
    display: flex;
    justify-content: space-around;
}
.image{
    display: flex;
    justify-content: center;
}
.projects{
    display: flex;
    justify-content: flex-start;
}
.projects p, .projects img, .projects video{
    padding-right: 2%;
    padding-left: 2%;
}
.projects img, .projects video{
    width: 20%;
    height: 20%;
}
img{
    width: 10%;
}
html{
    margin:2%;
    margin-top: 0%;
}
.open, .center-image{
    display: flex;
    justify-content: center; 
}
#startButton{
    margin-top: 18%;
}

.action{
    display: none;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.not-avaliable{
    filter: grayscale(1.0);
    height: 50%;
    width: 50%;
}
#errorMsg{
    display: none;
}
.text{
    margin-right: 10%;
}
h2{
    font-size: 20px;
}
video{
    width: 50%;
    height: 50%;
}
.last-hide{
    padding-left: 2%;
}
.input-part{
    display: flex;
    justify-content: flex-start;
}
.videos{
    display: none;
}